# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\template admin\tensorflow-tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
